/*

¿Cómo funcionar CSS?

Especificidad -> Establece como
de específico es un selector para
saber que estilo aplicar.

El cálculo se realiza con la
siguiente fórmula:
  Etiqutas y pseudoelementos 001
  Clases, atributos y pseudoclases 010
  Ids 100
  Estilos en línea 1000
  !important GANA A TODO Y NO SE USA NUNCA

Casacada -> La cascada funciona siempre que
            la especificidad sobre el elemento
            sea la misma
Herencia -> Hay propiedades que se heredan a los hijos
          -> por ejemplo color, font-size
          -> Los enlaces no heredan
          -> Para forzar herencia -> inherit
          -> .link {
                color: inherit;
            }
          -> Para evitar la herencia
          -> initial;

*/

h1 {
  background-color: red;
}

.title {
  background-color: blue;
}

#title {
  background-color: green;
}

h1.title {
  background-color: yellow;
}

h1#title {
  background-color: teal;
}

h1.title#title {
  background-color: tomato;
}
