* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: black;
  margin: 0;
}

.box {
  text-align: center;
  font-size: xx-large;
  width: 100px;
  height: 100px;
}

.container {
  width: 200px;
  height: 200px;
  background-color: peru;
  position: relative;
  /*

  Como ahora box-1 está dentro de container y
  este está posicionado, los valores de postion que
  apliquemos a box-1 son respecto a su contenedor padre.

  No tiene que ser su padre directo, basta con que esté
  dentro de un elemento que esté poscionado, da igual el nivel
  de anidamiento.

  */
}

.box-1 {
  background-color: lightcoral;
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.box-2 {
  background-color: lightgreen;
  position: absolute;
  bottom: 100px;
  left: 100px;
}
