* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: black;
  margin: 0;
}

.box {
  text-align: center;
  font-size: xx-large;
  width: 100px;
  height: 100px;
}
a {
  color: white;
}

.link {
  /*

  Al poner la propiedad position con  el valor absolute
  tratamos a los elementos en línea como si fueran
  elementos de bloque. No necesitamos por lo tanto
  declarar display: block; para poder establecer un
  tamaño.

  */

  position: absolute;
  background-color: violet;
  width: 500px;
  top: 50px;
}
