* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: black;
  margin: 0;
}

.box {
  text-align: center;
  font-size: xx-large;
}

.box-1 {
  background-color: lightcoral;
  position: absolute;

  /*
  
  La caja pierde su espacio reservado y vemos como
  box-2 sube hacia arriba
  
  */
}

.box-2 {
  background-color: lightgreen;
}
